.navbar_main{
    border-bottom: 1px solid;
    color: #DBDBDE;
}
.navbar_logo{
    margin: 8px 10px 8px 10px;

}
.navbar_leftbar{
    display: flex;
}
.navbar_search{
    
    height: 35px;
    width: 190px;
    border-radius: 25px;
    background-color: #F0F2F5;
    FONT-SIZE: 16px;
    border: 0px;
    padding-left: 30px;
    margin-top: 8px;
}   
.navbar_middle{
    display: flex;
    margin-top: 10px;
}
.navbar_tab{
   
    height: 45px;
    margin-left: 60px;

}
.navbar_tab.active{
    border-bottom: 3px solid #1B74E4;
}

.navbar_right{
    display: flex;
   

}
.navbar_right_tab{
    display: flex;
        margin-left: 40px;

}
.nabar_right_image{
    margin-top: 15px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;

}
.navbar_profile_name{
    margin-top: 16px;
    color: black;
    font-weight: 600;

}
.navbar_right_icons{
    width: 40px;
    display: flex;
    margin-top: 10px;
}