.upload_container{
    height: 120px;
    width: 550px;
    border-radius: 15px;
}
.upload_top{
    display: flex;
}

.upload_img{
   margin-top: 10px;
   margin-left: 15px;
  
    

}
.upload_text{
    width: 420px;
    height: 40px;
    background-color: #F0F2F5;
    border-radius: 30px;
    border: 0px;
    font-size: 16px;
    padding-left:20px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;


}
.upload_bottom{
    border-top: 1px solid #E2E6EA;
    display: flex;
    margin-left: 10px;
    padding-top: 5px;
}
.upload_tab{
    
    width: 150px;
    display: flex;
}
.upload_text{
    margin: 5px;
}